.advantages {
  @extend %list;
  @media screen and (min-width: $tablet) {
    @include centered-flex(flex);
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    @include centered-flex(flex, center, center);
    flex-wrap: wrap;
  }
}

.advantages__item {
  width: 100%;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages__title {
  margin-bottom: 10px;
  @include typography(700, 14px, 1.14, 0.03em);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (max-width: $tablet-1px) {
    text-align: center;
  }
}

.advantages__text {
  color: $secondary-text-color;
  @include typography(400, 14px, 1.71, 0.03em);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
}

.advantages__thumb {
  @include centered-flex(flex, center, center);
  background-color: $section-background-color;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}
