.section__team-list {
  background-color: $section-background-color;
}
.team-list {
  @extend %list;
  @media screen and (min-width: $tablet) {
    @include centered-flex(flex);
    flex-wrap: wrap;
  }
}

.team-member {
  background-color: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(even) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-member__info {
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team-member__name {
  @include typography(500, 16px, 1.19, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-member__position {
  color: $secondary-text-color;
  @include typography(400, 16px, 1.19, 0.03em);
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;

  margin-bottom: 16px;
}
