.contacts-nav {
  @extend %list;
  margin-top: 60px;
  @media screen and (min-width: $mobile-max) {
    margin-left: auto;
    margin-top: 0px;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $desktop-1px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: $desktop) {
    @include centered-flex(flex);
    margin-left: auto;
  }
}

.contacts-nav__item:not(:last-child) {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $desktop-1px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.contacts-nav__link {
  display: block;

  @include typography(500, 14px, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  color: $secondary-text-color;

  @extend %animation-color;

  &:focus,
  &:hover {
    color: $primary-accent-color;
    cursor: pointer;
  }
  @media screen and (min-width: $desktop) {
    @include centered-flex(flex, center);
  }
}

.icon-email,
.icon-phone {
  display: none;
  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin-right: 8px;
    fill: currentColor;
  }
  @media screen and (min-width: $desktop) {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
  }
}
