.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.header__container {
  @media screen and (min-width: $desktop) {
    @include centered-flex(flex, center);
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    @include centered-flex(flex, baseline);
  }
}

.portfolio__container {
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
