.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding {
  padding-bottom: 0;
}

.section__title {
  margin-bottom: 50px;
  @include typography(700, 36px, 1.17, 0.03em);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  // letter-spacing: 0.03em;
  text-align: center;
}
