// Colors

// Main page

//цвет основного текста
$primary-text-color: #212121;

//цвет текста второстепенный
$secondary-text-color: #757575;

//цвет акцента
$primary-accent-color: #2196f3;

// цвет акцента вторичный белый
$secondary-accent-color: #ffffff;

//цвет 2й части лого
$logo-color: #000000;

// основной фон
$primary-background-color: #ffffff;

//цвет фона героя и футуре
$secondary-background-color: #2f303a;

//цвет фона секции Наша команда
$section-background-color: #f5f4fa;

// цвет нижнего разделителя хедера
$header-border-color: #ececec;

// цвет неактивной иконки
$icon-color: #afb1b8;

// цвет ссылок контактов в футере
$footer-link-color: rgba(255, 255, 255, 0.6);

//оверлэй карточек секц. Наши преимущества
$advantages-lable-bg-color: rgba(47, 48, 58, 0.8);

//цвет фона бэкдропа при вызове формы
$backdrop-background-color: rgba(0, 0, 0, 0.2);

// Portfolio

//цвет рамки карточки в Портфолио
$portfolio-card-border-color: #eeeeee;

//цвет оверлэя карточек портфолио при ховере
$card-overlay-color: rgba(33, 150, 243, 0.9);

// Fonts
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
